#user_div {
    padding-top: 10px;    /* 10 pixels padding on the top */
    padding-right: 20px;  /* 20 pixels padding on the right */
    padding-bottom: 15px; /* 15 pixels padding on the bottom */
    padding-left: 30px;   /* 30 pixels padding on the left */
}